.bottom-nav {
  $b-nav-selector: &;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding-right: 15px;
  height: 50px;
  bottom: 0;
  &__icon {
    cursor: pointer;
    position: relative;
    top: 9px;
    right: -1px;
    font-size: 21px;
    transition: $transition-transform;
    &:hover + #{$b-nav-selector}__contact-us {
      transform: translateX(-5px);
    }
  }
  &__contact {
    display: flex;
  }
  &__contact-me {
    cursor: pointer;
    transition: $transition-transform;
    font-size: 12px;
    width: 80px;
    position: relative;
    top: 8px;
    margin-right: 3px;
  }
  &__digikala-search {
    display: flex;
    position: relative;
    padding: 9px;
    margin-left: 15px;
  }
  &__input {
    height: 33px;
    width: 350px;
    border-bottom: 2px solid $dark;
    transition: $transition-all;
    &:focus {
      border-bottom-color: $purple;
    }
  }
  &__search-icon {
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    top: 13px;
    left: 20px;
  }
  &::before {
    content: '';
    display: inline-block;
    background-color: $slow-gray;
    height: 1px;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
}
