.container {
  padding: 50px 20px;
  background-color: $white;
  height: 100%;
  &__item {
    display: none;
    height: 100%;
    width: 100%;
  }
  &__item:first-child {
    display: flex;
  }
}
.js-category {
  display: flex;
  height: 560px;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  &__letter {
    position: relative;
    transition: $transition-all;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      color: $purple;
      user-select: none;
    }
  }
}
