.weather {
  background-color: #fff;
  height: 42px;
  border-radius: 5px;
  box-shadow: $box-shadow;
  position: absolute;
  left: 12px;
  top: 8px;
  font-size: 13px;
  display: inline-block;
  padding: 9px 8px;
  z-index: 9;
  &__icon {
    color: $warn;
  }
}
