// colors
$purple: #6b11c0;
$font: 'IRYekan', sans-serif;
$white: #ffffff;
$dark: #000000;
$slow-gray: #bababa;
$medium-gray: #262626;
$error: #e74c3c;
$warn: #ffa502;
$success: #2ed573;

$transition-all: all 0.2s;
$transition-transform: transform 0.2s;
$box-shadow: 1px 2px 15px 0px #4646463d;
$box-shadow-low: 1px 5px 11px 0px rgba(0, 0, 0, 0.04);
$box-shadow-normal: 1px 4px 13px 0px rgb(0 0 0 / 16%);
